/* -------------------------------------------------------------------------- */
/* --- CSS Style Sheet for why3find doc generator                         --- */
/* -------------------------------------------------------------------------- */

header {
    /* File title block styling */
}

nav {
    display: none;
}

pre.src {
    /* Source code block styling */
    margin: 0px;
}

div.doc {
    /* Documentation block styling */
}

/* -------------------------------------------------------------------------- */
/* --- Source Code Styling                                                --- */
/* -------------------------------------------------------------------------- */

.src .keyword {
    color: purple;
}

.src .attribute {
    color: green;
}

.src .comment {
    color: grey;
}

.src a {
    text-decoration: none
}

.src a:hover {
    background: lightgreen;
}

.src a:target {
    background: orange;
}

/* -------------------------------------------------------------------------- */
