/* -------------------------------------------------------------------------- */
/* --- CSS Style Sheet for why3find doc generator                         --- */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* --- Header Styling                                                     --- */
/* -------------------------------------------------------------------------- */

header {
    /* File title block styling */
}

header code {
    font-size: larger;
}

/* -------------------------------------------------------------------------- */
/* --- Table Of Contents                                                  --- */
/* -------------------------------------------------------------------------- */

nav {
    display: none;
}

/* -------------------------------------------------------------------------- */
/* --- Documentation Styling                                              --- */
/* -------------------------------------------------------------------------- */

div.doc {
    /* Documentation block styling */
}

/* -------------------------------------------------------------------------- */
/* --- Source Code Styling                                                --- */
/* -------------------------------------------------------------------------- */

pre.src {
    /* Source code block styling */
    margin: 0px;
}

.keyword {
    color: purple;
}

.attribute {
    color: green;
}

.comment {
    color: grey;
}

.clone {
    background: #eee;
}

.src a {
    text-decoration: none;
}

.src a:hover {
    background: lightgreen;
}

.src a:target {
    background: orange;
}

/* -------------------------------------------------------------------------- */
/* --- Proof Marks                                                        --- */
/* -------------------------------------------------------------------------- */

.icon {
    vertical-align: text-bottom ;
    font-size: smaller ;
    text-decoration: none ;
}
.valid { color: green }
.failed { color: red }
.warning { color: orange }
.remark { color: grey }

/* -------------------------------------------------------------------------- */
/* --- Foldable Section                                                   --- */
/* -------------------------------------------------------------------------- */

.section { }

.section.level1:hover {
    background: #fcfce1;
}

.section.level2:hover {
    background: #e9ffe9;
}

.section.level3:hover {
    background: #fff6f6;
}

.section-toggle:hover {
    background: lightgreen;
}

.section-toggle {
    cursor: zoom-in ;
}

.section-toggle.active {
    cursor: zoom-out ;
}

.section-text {
    display: none;
}

.section-text.active {
    display: inline;
}

/* -------------------------------------------------------------------------- */
